[package]
name = "uip"
version = "0.1.0"
authors = ["Felix Konstantin Maurer <maufl@maufl.de>"]

[dependencies]
interfaces = "0.0.2"
bytes = "0.4.4"
byteorder = "1.0.0"
igd = "0.6.0"
async-readline = { git = "https://github.com/dpc/async-readline" } 
futures = "0.1"
tokio-io = "0.1"
rustls = "0.8"
tokio-core = "0.1"
tokio-rustls = "0.2"
tokio-uds = "0.1.5"
tokio-file-unix = "0.4"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
openssl = "0.9"